<p>
  testconversions works!
  <button (click)="convert()" class="convert">smella</button>
</p>
<table>
  <thead>
    <tr>
      <th>system</th>
      <th>from</th>
      <th>system_to</th>
      <th>to</th>
      <th>test value y</th>
      <th>test value x</th>
      <th>test value z</th>
      <th>zone</th>
      <th>expected_Y</th>
      <th>results_Y</th>
      <th>expected_X</th>
      <th>results_X</th>
      <th>expected_Z</th>
      <th>results_Z</th>
      <th>Passed?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let case of cases">
      <td>{{case.system}}</td>
      <td>{{case.from}}</td>
      <td>{{case.system_to}}</td>
      <td>{{case.to}}</td>
      <td>{{case.y}}</td>
      <td>{{case.x}}</td>
      <td>{{case.z}}</td>
      <td>{{case.zone}}</td>
      <td>{{case.expected_Y}}</td>
      <td>{{case.returnedY}}</td>
      <td>{{case.expected_X}}</td>
      <td>{{case.returnedX}}</td>
      <td>{{case.expected_Z}}</td>
      <td>{{case.returnedZ}}</td>
      <td>{{case.results}}</td>
    </tr>
    

  </tbody>
</table>
